.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_body {
  padding: 50px 20px;
  width: 80%;
  border: 2px solid #d3bfbf;
  border-radius: 10px;
  background: #ebffff;
  text-align: center;
}

.instruction {
  padding: 0 20px;
}

.modal_body p {
  text-align: left;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  height: 40px;
  border-radius: 30px;
  margin-bottom: 15px;
}

.input {
  padding: 0 30px;
  border: 1px solid #dadada;
  border-radius: 30px;
}

.input::placeholder {
  color: #787878;
}

.invis {
  opacity: 0;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.sent {
  padding: 20px;
  transition: opacity ease-in-out 1s;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.radios {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.radiogroup {
  text-align: left;
  margin-bottom: 10px;
}

.radio {
  margin-right: 10px;
}
