ul {
  list-style-type: none;
}

.footer {
  padding: 160px 40px 20px 40px;
  background: #ebffff;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.left,
.right {
  display: flex;
  align-items: baseline;
}

.left {
  flex-direction: column;
  margin-right: 20px;
}

.logo {
  width: 200px;
  height: 40px;
  margin-bottom: 1rem;
  background: url("../img/outline.png") left top no-repeat;
  background-size: contain;
}

.nav_list:not(:last-child) {
  margin-right: 30px;
}

.nav_list ul {
  padding: 0;
}

.nav_item {
  margin-bottom: 10px;
}

.nav_link {
  color: #000;
  opacity: 0.7;
  text-decoration: none;
}

.nav_link:hover {
  opacity: 1;
  text-decoration: underline;
}

.social_list {
  display: flex;
  align-items: center;
  padding: 0;
}

.social_item:not(:last-child) {
  margin-right: 10px;
}

.social_icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  background-position: center center;
  opacity: 0.7;
}

.social_icon:hover {
  opacity: 1;
}

.social_icon_twitter {
  width: 18px;
  height: 15px;
  background-image: url("../img/Twitter.svg");
}

.social_icon_linkedin {
  width: 18px;
  height: 19px;
  background-image: url("../img/Linkedin.svg");
  transform: translateY(-2px);
}

.social_icon_mail {
  width: 24px;
  height: 17px;
  background-image: url("../img/Email.svg");
}

@media (max-width: 640px) {
  .footer {
    padding: 120px 10px 20px 10px;
  }

  .container {
    flex-direction: column;
    font-size: small;
  }

  .logo {
    width: 100px;
    height: 20px;
  }
}
