.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background: #fff;
  box-shadow: -3px -1px 20px 1px rgba(128, 120, 120, 0.1);
  z-index: 100;
  opacity: 0.9;
}

.logo {
  height: 40px;
  width: 200px;
  background: url("../img/outline.png") left center no-repeat;
  background-size: contain;
}

@media (max-width: 640px) {
  .navbar {
    padding: 10px;
  }

  .logo {
    height: 20px;
    width: 100px;
  }
}
