.rate {
  max-width: 240px;
  text-align: center;
  padding: 20px;
  border: 2px solid rgb(211, 191, 191);
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
}

.image {
  width: 240px;
  height: 240px;
  background: url("../img/rate.png") center top no-repeat;
  background-size: contain;
}

.btn {
  padding: 10px;
  border-radius: 20px;
  background-color: red;
  color: #fff;
  border: none;
  font-weight: 800;
  transition: box-shadow 0.2s;
}

.btn:hover {
  box-shadow: 2px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn:active {
  box-shadow: none;
}
